body{

  background-color: black;
  color: white;
  font-family: Geneva;

}

a{

  text-decoration: none;

}

/*selecting all*/
.deselected-all{
  color: #909090;
}
.deselected-all:hover{
  color: #FFF;
}
.all{
  text-decoration: none;;
  color: #FFF;
}
.dots{
  left: 50%;
  top: 70%;
  text-align: center;
}

/*selecting biology*/
.deselected-biology{
  color: #909090;
}
.deselected-biology:hover{
  color: #339966;
}
.biology{
  text-decoration: none;;
  color: #339966;
}

/*selecting earth*/
.deselected-earth{
  color: #909090;
}
.deselected-earth:hover{
  color: #CC9933;
}
.earth{
  text-decoration: none;;
  color: #CC9933;
}

/*selecting educational*/
.deselected-educational{
  color: #909090;
}
.deselected-educational:hover{
  color: #996699;
}
.educational{
  text-decoration: none;;
  color: #996699;
}

/*selecting human*/
.deselected-human{
  color: #909090;
}
.deselected-human:hover{
  color: #FFFF99;
}
.human{
  text-decoration: none;;
  color: #FFFF99;
}

/*selecting physical*/
.deselected-physical{
  color: #909090;
}
.deselected-physical:hover{
  color: #3C5AFE;
}
.physical{
  text-decoration: none;;
  color: #3C5AFE;
}

/*selecting technical*/
.deselected-technical{
  color: #909090;
}
.deselected-technical:hover{
  color: #33CCCC;
}
.technical{
  text-decoration: none;;
  color: #33CCCC;
}

h1{

  font-size: 30px;
  font-weight: lighter;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  padding: 20px;
  text-align: center;
  z-index: 300;/*z-index is for blending text over pic*/

}


h5{

  font-size: 13px;
  color:#909090;
  font-weight: lighter;
  position: absolute;
  left: 51%;
  top: 130%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  padding: 20px;
  text-align: left;
  z-index: 300;

}

h4{

  font-size: 16px;
  font-weight: lighter;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 50%;
  padding: 20px;
  text-align: center;
  z-index: 300;

}

/*@media (max-width:500px) {div {width: 60%}}
@media (min-width:501px) {div {width: 350px}}*/

canvas {

  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  padding: 20px;
  text-align: center;
  z-index: 10;

}

b{

  font-weight:bold;
  color: white;

}
